@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: system-ui, sans-serif;
    background: #fff;
    background-size: 224px;
}

.button {
    @apply inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-gray-800 transition duration-150 ease-in-out bg-gray-100 border border-transparent rounded-md ring-gray-300;
}

.button:hover {
    @apply bg-gray-200;
}

.button:active, .button:focus {
    @apply bg-gray-300 ring;
}

.button.button-primary {
    @apply bg-indigo-500 text-white !important;
}

.button-primary:hover, .button.button-primary:active, .button.button-primary:focus {
    @apply bg-indigo-600 !important;
}

.button.button-primary:disabled {
    @apply bg-indigo-200 !important;
}

.button.button-danger {
    @apply bg-red-500 text-white !important;
}

.button-danger:hover, .button.button-danger:active, .button.button-danger:focus {
    @apply bg-red-600 !important;
}

.button.button-danger:disabled {
    @apply bg-red-200 !important;
}
